.n64price_gamitem {
	width: calc(100% - 6px);
	text-align:center;
	background: #abc2f4; /* Old browsers */
	background: -moz-linear-gradient(top, #abc2f4 0%, #cddaf4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #abc2f4 0%,#cddaf4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #abc2f4 0%,#cddaf4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abc2f4', endColorstr='#cddaf4',GradientType=0 ); /* IE6-9 */
	border-bottom:3px solid #88abf7;
	border-right:3px solid #88abf7;
	border-left:3px solid #88abf7;
	cursor:pointer;
	overflow:hidden;
}
.n64price_topitem_plus, .n64price_topitem_minus {
	width:calc(100% - 16px);
	margin: 3px 0;
	text-align:center;
	padding:5px;
	cursor:pointer;
}
.n64price_topitem_plus {
	border: 3px solid #88f788;
}
.n64price_topitem_minus {
	border: 3px solid #f78888;
}
.n64price_gamitem:first-of-type {
	border-top:3px solid #88abf7;
}
.n64price_chartarea:not(:last-of-type) {
	border-bottom:3px solid #88abf7;
}
.n64price_chartarea, .n64price_more_info {
	display:none;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.leanmodal{
	display: none;
	position: fixed;
	opacity: 1;
	z-index: 11000;
	top: 100px;
	width: calc(95% - 30px);
	margin: 0 auto%;
	background: #f8f8f8;
	border-radius:20px;
	padding:15px;
}
.butan_top,.butan_more,.sortlink {
	text-decoration:underline;
	cursor:pointer;
	color: #88abf7;
}